{{#if fetch.isRunning}}
  <div class="{{styleNamespace}}__top-part-skeleton">
    <div class="top-part-skeleton__section top-part-skeleton__poster-section">
      <div class="poster-section__poster"></div>
      <div class="poster-section__button">... affiches et ... fonds d'écran</div>
      <div class="poster-section__button">... vidéos disponibles</div>
    </div>
    <div class="top-part-skeleton__section top-part-skeleton__informations-section work">
      <h1 class="informations-section__movie-title"></h1>
      <p class="informations-section__little-information first-child">Sortie le <span class="value">...</span></p>
      <p class="informations-section__little-information">Durée du film <span class="value">...</span></p>
      <p class="informations-section__little-information last-child">Noté <span class="value little-information__vote-average" style="{{compute (action "voteAverageBorderColorStyle") null}}">... / 10</span> sur <span class="value">...</span> votes</p>
      <div class="informations-section__information">
        <h1 class="information__title">Avec les genres :</h1>
        <ul class="information__genres flex wrap">
          <li class="genre"></li>
          <li class="genre"></li>
          <li class="genre"></li>
        </ul>
      </div>
      <div class="informations-section__information">
        <h1 class="information__title">Synopsis :</h1>
        <p class="information__overview"></p>
      </div>
    </div>
  </div>
  <div class="{{styleNamespace}}__action-part-skeleton work">
    <h1 class="action-part-skeleton__title">Intéragissez avec le film ...</h1>
    <div class="action-part-skeleton__actions-container">
      <div class="actions-container__vote-action">
        <div class="vote-action__container">
          <p class="vote-action__message">
            <span>Attribuez une note sur 10</span>
          </p>
        </div>
      </div>
      <div class="actions-container__lists-action">
        <p class="lists-action__message">Ajoutez à vos listes</p>
        {{buttons-lists-skeleton}}
      </div>
    </div>
  </div>
{{else}}
  <div class="{{styleNamespace}}__main-background" style="background-image: url(https://image.tmdb.org/t/p/original{{if movie.backdrop_path movie.backdrop_path movie.poster_path}})"></div>
  <div class="{{styleNamespace}}__top-part">
    <div class="top-part__section top-part__poster-section">
      <img class="poster-section__poster" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt=" " onerror="this.src='/img/no-picture.png'; this.onerror=''">
      {{#link-to 'images' movie.id (query-params images_type="movie") class="poster-section__button"}}
        {{images.posters.length}} affiches et {{images.backdrops.length}} fonds d'écran
      {{/link-to}}
      {{#link-to 'videos' movie.id class="poster-section__button"}}
        {{videos.length}} vidéos disponibles
      {{/link-to}}
    </div>
    <div class="top-part__section top-part__informations-section work">
      <h1 class="informations-section__movie-title josefin">{{movie.title}}</h1>
      <p class="informations-section__little-information first-child">Sortie le <span class="value">{{if movie.release_date (moment-format movie.release_date "Do MMMM YYYY") "Non disponible"}}</span></p>
      <p class="informations-section__little-information">Durée du film <span class="value">{{runtime}}</span></p>
      <p class="informations-section__little-information last-child">Noté <span class="value little-information__vote-average" style="{{compute (action "voteAverageBorderColorStyle") movie.vote_average}}">{{movie.vote_average}} / 10</span> sur <span class="value">{{movie.vote_count}}</span> votes</p>
      <div class="informations-section__information">
        <h1 class="information__title">Avec les genres :</h1>
        <ul class="information__genres flex wrap">
          {{#each movie.genres as |genre|}}
            {{#link-to 'discover' (query-params with_genres=genre.id sort_by=null vote_count_gte=null primary_release_date_gte=null primary_release_date_lte=null) class="genre" click=(action (mut user.reset) "discover")}}
              {{genre.name}}
            {{/link-to}}
          {{/each}}
        </ul>
      </div>
      <div class="informations-section__information">
        <h1 class="information__title">Synopsis :</h1>
        <p class="information__overview josefin">{{if movie.overview movie.overview 'Aucun synopsis disponible'}}</p>
      </div>
    </div>
  </div>
  <div class="{{styleNamespace}}__action-part work">
    <h1 class="action-part__title">Intéragissez avec le film {{movie.title}}</h1>
    <div class="action-part__actions-container">
      {{#if session.isAuthenticated}}
        {{#if (or user.fetch.isRunning fetchVote.isRunning)}}
          Un instant...
        {{else}}
          {{basic-vote movieId=id average=voteAverage onChange=(action "saveVote") class="actions-container__vote-action"}}
          {{#if (not-eq voteAverage null)}}
            <p class="actions-container__delete-vote" {{action "deleteVote" on="click"}}>Supprimer le vote</p>
          {{/if}}
        {{/if}}
      {{else}}
        {{basic-vote-skeleton click=(action "notifyNotConnected") class="actions-container__vote-action grey-bg"}}
      {{/if}}
      <div class="actions-container__lists-action">
        <p class="lists-action__message">Ajoutez à vos listes</p>
        {{#if (and session.isAuthenticated (not user.fetch.isRunning))}}
          {{buttons-lists movie=movie}}
        {{else if user.fetch.isRunning}}
          Un instant...
        {{else}}
          {{buttons-lists-fake click=(action "notifyNotConnected")}}
        {{/if}}
      </div>
    </div>
  </div>
  {{#if (not (is-empty videos))}}
    {{#if (eq videos.firstObject.type "Trailer")}}
      <div class="{{styleNamespace}}__trailer-part work">
        <h1 class="trailer-part__title">{{videos.firstObject.name}}</h1>
        <iframe class="trailer-part__video" src="https://www.youtube.com/embed/{{videos.firstObject.key}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    {{/if}}
  {{/if}}
  <div class="{{styleNamespace}}__person-part work">
    <div class="person-part__section person-part__cast-section">
      <h1 class="section__title">Casting</h1>
      <ul class="section__person-list">
        {{#if (not-eq 0 slicedCast.length)}}
          {{#each slicedCast as |person|}}
            {{#if (and (eq slicedCast.length 5) (gte movie.credits.cast.length 5))}}
              {{#if person.profile_path}}
                {{#link-to 'person' person.id}}
                  <li class="person-list__person">
                    <div class="person__poster">
                      <img class="poster__img" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
                    </div>
                    <div class="person__informations">
                      <p class="informations__name">{{person.name}}</p>
                      <p class="informations__job-name">{{person.character}}</p>
                    </div>
                  </li>
                {{/link-to}}
              {{/if}}
            {{else}}
              {{#link-to 'person' person.id}}
                <li class="person-list__person">
                  <div class="person__poster">
                    <img class="poster__img" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
                  </div>
                  <div class="person__informations">
                    <p class="informations__name">{{person.name}}</p>
                    <p class="informations__job-name">{{person.character}}</p>
                  </div>
                </li>
              {{/link-to}}
            {{/if}}
          {{/each}}
          {{#if (not-eq movie.credits.cast.length slicedCast.length)}}
            <li class="person-list__person" {{action "showMorePerson" movie.credits.cast sliceCast "sliceCast" on="click"}}>
              <div class="person__poster">
                <div class="poster__show-button">
                  voir plus
                </div>
              </div>
            </li>
            <li class="person-list__person" {{action "showAllPerson" movie.credits.cast "sliceCast" on="click"}}>
              <div class="person__poster">
                <div class="poster__show-button">
                  tout voir - {{movie.credits.cast.length}}
                </div>
              </div>
            </li>
          {{/if}}
        {{else}}
          <li class="person-list__person">
            <div class="person__poster">
              <div class="poster__show-button">
                Aucun
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
    <div class="person-part__section person-part__crew-section">
      <h1 class="section__title">Équipe technique</h1>
      <ul class="section__person-list">
        {{#if (not-eq 0 slicedCrew.length)}}
          {{#each slicedCrew as |person|}}
            {{#if (and (eq slicedCrew.length 5) (gte movie.credits.crew.length 5))}}
              {{#if person.profile_path}}
                {{#link-to 'person' person.id}}
                  <li class="person-list__person">
                    <div class="person__poster">
                      <img class="poster__img" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
                    </div>
                    <div class="person__informations">
                      <p class="informations__name">{{person.name}}</p>
                      <p class="informations__job-name">{{person.job}}</p>
                    </div>
                  </li>
                {{/link-to}}
              {{/if}}
            {{else}}
              {{#link-to 'person' person.id}}
                <li class="person-list__person">
                  <div class="person__poster">
                    <img class="poster__img" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
                  </div>
                  <div class="person__informations">
                    <p class="informations__name">{{person.name}}</p>
                    <p class="informations__job-name">{{person.job}}</p>
                  </div>
                </li>
              {{/link-to}}
            {{/if}}
          {{/each}}
          {{#if (not-eq movie.credits.crew.length slicedCrew.length)}}
            <li class="person-list__person" {{action "showMorePerson" movie.credits.crew sliceCrew "sliceCrew" on="click"}}>
              <div class="person__poster">
                <div class="poster__show-button">
                  voir plus
                </div>
              </div>
            </li>
            <li class="person-list__person" {{action "showAllPerson" movie.credits.crew "sliceCrew" on="click"}}>
              <div class="person__poster">
                <div class="poster__show-button">
                  tout voir - {{movie.credits.crew.length}}
                </div>
              </div>
            </li>
          {{/if}}
        {{else}}
          <li class="person-list__person">
            <div class="person__poster">
              <div class="poster__show-button">
                Aucun
              </div>
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
  {{#if movie.collection}}
    <div class="{{styleNamespace}}__movie-list-part work">
      <h1 class="movie-list-part__title">{{movie.collection.name}}</h1>
      <p class="movie-list-part__overview josefin">{{movie.collection.overview}}</p>
      <ul class="movie-list-part__movie-list">
        {{#each collection as |collection|}}
          {{#link-to 'movie' collection.id}}
            <li class="movie-list__movie">
              <img class="movie__poster" src="https://image.tmdb.org/t/p/w500{{collection.poster_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
              <p class="movie__information"><span class="value information__vote-average" style="{{compute (action "voteAverageBorderColorStyle") collection.vote_average}}">{{collection.vote_average}} / 10</span> sur <span class="value">{{collection.vote_count}}</span> votes</p>
              <p class="movie__information">sortie le <span class="value">{{if collection.release_date (moment-format collection.release_date "Do MMMM YYYY") "Date inconnue"}}</span></p>
            </li>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if (not-eq 0 movie.recommendations.results.length)}}
    <div class="{{styleNamespace}}__movie-list-part work">
      <h1 class="movie-list-part__title">Films recommandés pour {{movie.title}}</h1>
      <ul class="movie-list-part__movie-list">
        {{#each (slice 0 10 movie.recommendations.results) as |recommendation|}}
          {{#link-to 'movie' recommendation.id}}
            <li class="movie-list__movie">
              <img class="movie__poster" src="https://image.tmdb.org/t/p/w500{{recommendation.poster_path}}" alt="" onerror="this.src='/img/no-picture.png'; this.onerror=''">
              <p class="movie__information"><span class="value information__vote-average" style="{{compute (action "voteAverageBorderColorStyle") recommendation.vote_average}}">{{recommendation.vote_average}} / 10</span> sur <span class="value">{{recommendation.vote_count}}</span> votes</p>
              <p class="movie__information">sortie le <span class="value">{{if recommendation.release_date (moment-format recommendation.release_date "Do MMMM YYYY") "Date inconnue"}}</span></p>
            </li>
          {{/link-to}}
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}
