<div class="{{styleNamespace}}__popup-container">
  <div class="popup-container__header">
    {{title}}
  </div>
  <div class="popup-container__body">
    {{yield}}
  </div>
  <div class="popup-container__footer">
    <button class="footer__button footer__close-button" {{action close on="click"}}>
      {{fa-icon "times" color="black" class="icon" height=15 width=15}}
      Fermer
    </button>
    <button class=" footer__button footer__confirm-button" {{action confirm on="click"}}>
      {{fa-icon (if pending "hourglass-half" confirmIcon) color="black" class="icon" height=15 width=15}}
      {{confirmLabel}}
    </button>
  </div>
</div>