
{{#each user.activities as |activity|}}
  {{#if activity.query}}
    <div class="{{styleNamespace}}__activity-item" {{action "transitionToActivity" activity on="click"}}>
      {{fa-icon activity.icon color="white" class="activity-item__icon"}}
      <p class="activity-item__name">
        {{activity.name}}
      </p>
    </div>
  {{else}}
    {{#link-to activity.type activity.id class=(concat styleNamespace "__activity-item") title=activity.name}}
      {{fa-icon activity.icon color="white" class="activity-item__icon"}}
      <p class="activity-item__name">
        {{activity.name}}
      </p>
    {{/link-to}}
  {{/if}}
{{/each}}
