{{#if fetch.isRunning}}
  <div class="users-skeleton work">
    <div class="users-skeleton__veil"></div>
    <div class="users-skeleton__banner">
      <div class="banner__profile-img">
        <div class="profile-img__poster"></div>
      </div>
      <h1 class="banner__pseudo"></h1>
      <p class="banner__info">Inscrit le <span class="value">...</span></p>
      <p class="banner__info last-child">Dernière apparition le <span class="value">...</span></p>
      <div class="banner__link">
        Voir les statistiques
      </div>
      <div class="banner__link">
        Voir les listes
      </div>
      <div class="banner__link">
        Voir les votes
      </div>
      <div class="banner__link">
        Voir les dernières activités
      </div>
    </div>
  </div>
{{else}}
  <div class="users work {{if bannerIsVisible 'banner--is-visible'}}">
    {{#if infos.coverImg.path}}
      <img class="users__cover-img" src="https://image.tmdb.org/t/p/original{{infos.coverImg.path}}" alt="" style="{{compute (action "styleCoverImg") infos.coverImg.posX infos.coverImg.posY infos.coverImg.scale}}">
    {{/if}}
    <div class="users__veil"></div>
    <div class="users__show-banner" style="{{compute (action "style") "border-color" infos.color}}" {{action (toggle "bannerIsVisible" this) on="click"}}>
      {{fa-icon "arrow-right" class="show-banner__icon" size=2 color="white"}}
    </div>
    <div class="users__banner" style="{{compute (action "style") "border-color" infos.color}}">
      <div class="banner__profile-img">
        {{#if infos.profileImg.path}}
          <img class="profile-img__poster" src="https://image.tmdb.org/t/p/original{{infos.profileImg.path}}" alt="" style="{{compute (action "styleProfileImg") infos.profileImg.posX infos.profileImg.posY infos.profileImg.scale}}">
        {{else}}
          <h1 class="profile-img__sliced-pseudo">{{compute (action "slicedPseudo") infos.pseudo}}</h1>
        {{/if}}
      </div>
      <h1 class="banner__pseudo">{{infos.pseudo}}</h1>
      {{#if infos.private}}
        <p class="banner__info">Votre profil est <span class="value red">Privé</span></p>
      {{/if}}
      <p class="banner__info">Inscrit le <span class="value">{{moment-format infos.createdAt "Do MMMM YYYY"}}</span></p>
      <p class="banner__info last-child">Dernière apparition <span class="value">{{moment-format infos.lastConnection "Do MMMM YYYY à HH:mm"}}</span></p>
      {{#if (eq currentRouteName "users.statistics")}}
        {{#link-to 'users' class="banner__link"}}
        Voir les statistiques
        {{/link-to}}
      {{else}}
        {{#link-to 'users.statistics' class="banner__link"}}
          Voir les statistiques
        {{/link-to}}
      {{/if}}
      {{#if (eq currentRouteName "users.lists")}}
        {{#link-to 'users' class="banner__link"}}
          Voir les listes
        {{/link-to}}
      {{else}}
        {{#link-to 'users.lists' class="banner__link"}}
          Voir les listes
        {{/link-to}}
      {{/if}}
      {{#if (eq currentRouteName "users.votes")}}
        {{#link-to 'users' class="banner__link"}}
          Voir les votes
        {{/link-to}}
      {{else}}
        {{#link-to 'users.votes' class="banner__link"}}
          Voir les votes
        {{/link-to}}
      {{/if}}
      {{#if (eq currentRouteName "users.last-activities")}}
        {{#link-to 'users' class="banner__link"}}
          Voir les dernières activités
        {{/link-to}}
      {{else}}
        {{#link-to 'users.last-activities' class="banner__link"}}
          Voir les dernières activités
        {{/link-to}}
      {{/if}}
    </div>
    {{outlet}}
  </div>
{{/if}}
