{{#each (repeat 30) as |nb|}}
  {{#if (eq view.list "basic")}}
    <li class="{{styleNamespace}}__item {{if (or media.isMobile (eq view.userButton "visible")) "mouse--is-over"}}">
      <div class="item__link">
        <div class="link__poster"></div>
      </div>
      <div class="div-buttons-lists">
      {{#if (eq view.userButton "visible")}}
        {{buttons-lists-skeleton class="col"}}
      {{/if}}
      </div>
    </li>
  {{else if (eq view.list "details")}}
    <li class="{{styleNamespace}}__item is--detailed mouse--is-over">
      <div class="item__link">
        <div class="link__poster bigger"></div>
      </div>
      <div class="item__details flex col">
        <h1 class="details__title"></h1>
        {{basic-genre-list-skeleton class="details__genres"}}
        <div class="details__vote flex ali-center work">
          <div class="vote__average"></div>
          <div class="vote__count"></div>
        </div>
        <p class="details__overview"></p>
        <div class="div-buttons-lists margin-auto">
          {{#if (or media.isMobile (eq view.userButton "visible"))}}
            {{buttons-lists-skeleton}}
          {{/if}}
        </div>
      </div>
    </li>
  {{/if}}
{{/each}}
