<div class="community work">
  <div class="community__last-activities">
    <h1 class="last-activities__title">Les dernières activitées</h1>
    <ul class="last-activities__list">
      {{#each activityList as |activity|}}
        <li class="list__item">
          <h1 class="item__title">{{activity.title}}</h1>
          {{#link-to 'movie' activity.movie.id class="item__movie-img"}}
            <img class="img" src="https://image.tmdb.org/t/p/w500{{activity.movie.path}}" alt="">
          {{/link-to}}
          {{#link-to 'users' activity.user.id class="item__user"}}
            <div class="user__img">
              <img class="img" style="{{compute (action "updateUserProfileImgPos") activity.user.posX activity.user.posY activity.user.scale}}" src="https://image.tmdb.org/t/p/w500{{activity.user.path}}" alt="">
            </div>
            <h1 class="user__pseudo">{{activity.user.pseudo}}</h1>
          {{/link-to}}
          <p class="item__info">Le <span class="value">{{moment-format activity.createdAt "Do MMMM YYYY à HH:mm"}}</span></p>
          {{#each activity.infos as |info|}}
            <p class="item__info">{{info.message}} <span class="value">{{info.value}}</span></p>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>