<div class="{{styleNamespace}}__container">
  {{#if (not userPseudo)}}
    {{#if media.isMobile}}
      <div class="{{styleNamespace}}__mouse-tracker" {{action (pipe-action (action "updateVoteAverage") (action onChange newAverage) (action (mut newAverage) null)) onChange newAverage on="click"}}></div>
    {{else}}
      <div class="{{styleNamespace}}__mouse-tracker" {{action (action "updateVoteAverage") on="mouseMove"}} {{action (mut newAverage) null on="mouseLeave"}} {{action onChange newAverage on="click"}}></div>
    {{/if}}
  {{/if}}
  <div class="{{styleNamespace}}__bg" style="{{compute (action "voteAverageBgStyle") (if (not-eq null newAverage) newAverage average)}}"></div>
  {{#if (and (not media.isMobile) (not-eq newAverage null))}}
    <p class="{{styleNamespace}}__message" style="{{compute (action "voteAverageBorderColorStyle") newAverage}}">
      <span class="grey-color">J'attribue la note de</span>
      <span class="value">{{newAverage}}</span>
      sur 10
    </p>
  {{else if (not-eq average null)}}
    <p class="{{styleNamespace}}__message" style="{{compute (action "voteAverageBorderColorStyle") average}}">
      <span class="grey-color">{{if userPseudo (concat userPseudo ' a noté') 'Vous avez noté'}}</span>
      <span class="value">{{average}}</span>
      sur 10
    </p>
  {{else}}
    <p class="{{styleNamespace}}__message">
      <span>Attribuez une note sur 10</span>
    </p>
  {{/if}}
</div>