<div id="main-progress-bar"></div>
{{notification-container class="work notify-shadow" position="bottom-right"}}
{{main-top-bar}}
{{main-side-bar activities=user.activities}}
<div class="div-scroll-top-icon" {{action "scrollTop" on="click"}}>
  {{fa-icon "arrow-up" color="white"}}
</div>
{{#if media.isMobile}}
  <div class="close-side-bar {{if sideBar.isOpen 'side--bar-is-open'}}" {{action "closeSideBar" on="click"}}></div>
{{/if}}
<div id="app">
  {{outlet}}
</div>