<input class="{{styleNamespace}}__date-input" id="{{uid}}-date-picker" type="text" placeholder={{label}} readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false">
<div class="clear" {{action "clear"}}>
  {{fa-icon "times" color="black"}}
</div>