{{#each basicLists as |list|}}
  <li class="button-list {{movie.id}}__button-basic-list {{if list.isSelected "is--selected" "not--selected"}}" {{action (if (eq list.id "plus") "toggleOtherLists" "selectOrDeselect") list}} style="{{compute (action "listColor") list.isSelected list.color}}">
    {{fa-icon list.icon}}
  </li>
{{/each}}
<div class="other-lists {{movie.id}}__other-lists {{if otherListsOpen "is--visible" "not--visible"}}" {{action (mut otherListsOpen) false on="mouseLeave"}}>
  <div class="other-lists__arrow"></div>
  <ul class="other-lists__container-scrollable">
    {{#if otherListsOpen}}
      {{#each (sort-by "position" otherLists) as |list|}}
        <li class="div-button-list" {{action "selectOrDeselect" list}}>
          <div class="button-list {{movie.id}}__{{list.id}} {{if list.isSelected "is--selected" "not--selected"}}" style="{{compute (action "listColor") list.isSelected list.color}}">
            {{list.label}}
          </div>
          <p class="list-name">
            {{list.name}}
          </p>
        </li>
      {{/each}}
      {{#link-to 'my-profile.lists-pannel.new' class="other-lists__new-list"}}
        Créer une personnalisée
      {{/link-to}}
    {{/if}}
  </ul>
</div>
